.row {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.true-center {
  margin: auto 0;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.hidden {
  display: none;
}

.space-between {
  justify-content: space-between;
}
