body {
  font-family: "Saira Condensed", sans-serif;
}

nav {
  display: none;
}

a {
  font-size: 28px;
}

h1 {
  font-size: 42px;
}

.roboto {
  font-family: "Robto", sans-serif;
}

.card-placeholder {
  width: 327px;
  height: 480px;
}

.prev-page,
.next-page,
#delete-card,
#add-card,
h2 {
  font-size: 32px;
}

.header {
  background-color: black;
}

.card-pack {
  height: 550px;
  width: 380px;
  background-color: #93746a;
}

.deck-container {
  height: 600px;
  width: 425px;
  background-color: #f6f6f6;
}

.nav-links {
  text-decoration: none;
}

.nav-links,
.silver-color {
  color: #bcbcbc;
}

.cards-container {
  max-width: 1500px;
  margin: 0 auto;
}

.small-card {
  width: 350px;
  height: 450px;
}

.card {
  padding: 20px;
  transition: 0.25s ease-in-out;
}

.card:hover {
  transform: scale(1.4);
}

.nav-links,
.minor-padding {
  padding: 0 40px;
}

.search-bar {
  box-shadow: 2px 1px lightslategray;
  padding-left: 0.5rem;
  height: 2.5rem;
  font-size: 24px;
  background-color: lightgray;
  border: none;
  border-radius: 0.5rem;
}

.cancel {
  background-color: red;
}

.confirm {
  background-color: green;
}

.confirm,
.cancel {
  margin: 3rem 0;
  font-size: 40px;
  width: 200px;
  height: 3rem;
  color: white;
  border: none;
  border-radius: 0.25rem;
}

@media screen and (max-width: 375px) {
  h2 {
    text-align: center;
  }

  .deck-container {
    width: 320px;
    height: 440px;
  }

  .header {
    justify-content: center;
  }

  .card-container {
    height: 450px;
    width: 325px;
  }

  .card-pack {
    height: 400px;
    width: 280px;
  }

  .card-deck {
    width: 85%;
  }

  .small-card {
    width: 180px;
    height: 220px;
  }

  .card {
    padding: 10px;
  }

  .mobile-friendly {
    width: 250px;
    height: 350px;
  }

  .modal {
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border-radius: 1rem;
    width: 350px;
    height: 600px;
    position: fixed;
  }

  .confirm,
  .cancel {
    margin: 1.5rem 0;
    font-size: 30px;
    width: 125px;
    height: 2.5rem;
    color: white;
    border: none;
    border-radius: 0.25rem;
  }

  .card-placeholder {
    width: 238px;
    height: 349px;
  }
}
