body {
  font-family: "Saira Condensed", sans-serif;
}

button,
a {
  cursor: pointer;
}

a {
  font-size: 1.75rem;
}

h1 {
  font-size: 2.5rem;
}

.question {
  word-break: break-word;
}

.logo {
  cursor: pointer;
}

.search-icon {
  width: 100%;
}

.background {
  border-radius: 1rem;
  width: 80%;
  background-color: whitesmoke;
}

.search-button {
  border: none;
  padding: 0;
  margin: 0 1rem;
  width: 3rem;
  background-color: white;
}

.desktop-friendly {
  width: 60%;
}

.roboto {
  font-family: "Robto", sans-serif;
}

.card-placeholder {
  cursor: pointer;
  width: 327px;
  height: 480px;
}

.prev-page,
.next-page,
#add-card,
h2 {
  font-size: 2rem;
}

.header {
  background-color: black;
}

.card-pack {
  height: 550px;
  width: 380px;
  background-color: #93746a;
}

.deck-container {
  height: 600px;
  width: 425px;
  background-color: #f6f6f6;
}

.nav-links {
  text-decoration: none;
}

.nav-links,
.silver-color {
  color: #bcbcbc;
}

.cards-container {
  max-width: 1500px;
  margin: 0 auto;
}

.small-card {
  width: 25%;
}

.card {
  cursor: pointer;
  padding: 20px;
  transition: 0.25s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.nav-links,
.minor-padding {
  padding: 0 2.25rem;
}

.search-bar {
  box-shadow: 2px 1px lightslategray;
  padding-left: 0.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  background-color: lightgray;
  border: none;
  border-radius: 0.5rem;
}

.cancel {
  background-color: red;
}

.confirm {
  background-color: green;
}

.confirm,
.cancel {
  margin: 3rem 0;
  font-size: 1.75rem;
  width: 30%;
  height: 3rem;
  color: white;
  border: none;
  border-radius: 0.25rem;
}

.margin-loading {
  margin-top: 2rem;
}

@media screen and (max-width: 1280px) {
  .small-card {
    width: calc(100% / 3);
  }
}

@media screen and (max-width: 768px) {
  h2 {
    text-align: center;
  }

  nav {
    display: none;
  }

  .deck-container {
    width: 320px;
    height: 440px;
  }

  .header {
    justify-content: center;
  }

  .card-container {
    height: 450px;
    width: 325px;
  }

  .card-pack {
    height: 400px;
    width: 280px;
  }

  .card-deck {
    width: 85%;
  }

  .small-card {
    width: 50%;
  }

  .card {
    padding: 10px;
  }

  .mobile-friendly {
    width: 60%;
  }

  .confirm,
  .cancel {
    margin: 1.5rem 0;
    font-size: 0.75rem;
    width: 30%;
    height: 2.5rem;
    color: white;
    border: none;
    border-radius: 0.25rem;
  }

  .card-placeholder {
    width: 238px;
    height: 349px;
  }
}
