body {
  font-family: "Saira Condensed", sans-serif;
}

.header {
  background-color: black;
}

.card-pack {
  height: 550px;
  width: 380px;
  background-color: #93746a;
}

.deck-container {
  height: 600px;
  width: 425px;
  background-color: #f6f6f6;
}

.search-bar-padding {
  padding: 40px 0;
}

a {
  font-size: 28px;
}

.nav-links {
  text-decoration: none;
}

.nav-links,
.silver-color {
  color: #bcbcbc;
}

.cards-container {
  max-width: 1000px;
  margin: 0 auto;
}

.small-card {
  width: 201px;
  height: 296px;
}

.card {
  padding: 20px;
  transition: 0.25s ease-in-out;
}

.card:hover {
  transform: scale(1.4);
}

.nav-links,
.minor-padding {
  padding: 0 40px;
}

.search-bar {
  box-shadow: 2px 1px lightslategray;
  padding-left: 0.5rem;
  height: 2.5rem;
  font-size: 24px;
  background-color: lightgray;
  border: none;
  border-radius: 0.5rem;
}

@media screen and (max-width: 375px) {
  .header {
    justify-content: center;
  }

  h2 {
    text-align: center;
  }

  .card-container {
    height: 450px;
    width: 325px;
  }

  .card-pack {
    height: 400px;
    width: 280px;
  }

  .card-deck {
    width: 85%;
  }

  nav {
    display: none;
  }

  .small-card {
    width: 180px;
    height: 220px;
  }

  .card {
    padding: 10px;
  }
}

.cancel {
  background-color: red;
}

.confirm {
  background-color: green;
}

.confirm,
.cancel {
  margin: 3rem 0;
  font-size: 40px;
  width: 200px;
  height: 3rem;
  color: white;
  border: none;
  border-radius: 0.25rem;
}
